.full-height {
  min-height: 100vh !important;
}

.app {
}

.change_font {
  font-family: "Varela Round", sans-serif;
}

.content_segment {
  min-height: 100vh !important;
  width: 90% !important;
}

/* Side Nav */
.brand-name {
  margin-top: 10px !important;
  font-family: "Varela Round", sans-serif;
}
.brand-name:hover {
  cursor: pointer;
}

.main-menu {
  margin-top: 40px !important;
  margin-left: 25px !important;
}

.side-latest {
  text-align: left !important;
  font-family: "Varela Round", sans-serif;
  font-size: 20px !important;
}
.author-size {
  font-size: 15px !important;
}

.side-menu-authors {
  margin-top: 40px;
}

.grid-container {
  margin-right: 250px !important;
}

.book-card {
}

.search-container {
  margin-right: 300px;
}
